body {
    background-image: url("index.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

hr {
    border: 2px solid black;
}

h1 {
    color: black;
    font-size: 30px;
    text-align: center;
    padding: 20px 40px;
    background-color: #76885B;
    color: black;
    text-decoration: #114232;
    border-radius: 10px;
}

.navigation .PUP-button {
    display: inline-block;
    padding: 20px 40px;
    background-color: #344955;
    color: white;
    text-decoration: #C6DCBA;
    font-size: 25px;
    border-radius: 10px;
    cursor: pointer;
    position: fixed;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
}
